@import 'variables';

* {
  box-sizing: border-box;
}
.App {
  background-color:black;
  height:100vh;
  width:100vw;
  display: flex;
  overflow:hidden;
}

.main-content {
  display:flex;
  flex:1;
  overflow:scroll;
}

#header{
  display:flex;
  padding:0px 30px;
  img {
    height:50px;
  }
}

#sidebar{
  flex:3;
  height:auto;
  background-color: @light-grey;
  overflow:scroll;
  display:flex;
  flex-flow:column;
  #info-sections-wrapper{
    flex:3;
  }
  #data-sections-wrapper{
    flex:5;
    .chart-wrapper{
      max-width: 350px;
    }
  }
  .chart-wrapper{
    margin-bottom:30px;
  }
}

#editor {
  flex:5;
  height:auto;
  background-color: @grey;
  padding:30px;
  display:flex;
  flex-flow:column;
  h3{
    margin-top:30px;
  }
  textarea {
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.05);
    padding:10px 20px;
  }
  #editor-summary{
    textarea{
      height:80px;
    }
  }
  #editor-text{
    textarea{
      height:100%;
    }
    flex:1;
  }
  #editor-title{
  }
}